{% extends 'service/base.html' %}
{% load group %}
{% block content %}
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-4">
                <a href='{% url 'service:clients_create' %}' class="btn btn-primary btn-block">Добавить клиента</a>
            </div>
        </div>
    </div>
    {% for client in object_list %}
        <div class="col-md-12">
            <div class="card m-2 box-shadow text-primary">
                <div class="card-body">
                    <h4>{{ client }}</h4>
                    <h5><p class="card-text text-info">О клиенте: {{ client.comment|truncatewords:10 }}</p></h5>
                    <h6><p class="card-text text-info">Почта клиента: {{ client.email }}</p></h6>
                    <a href="{% url 'service:clients_update' client.id %}">Редактировать</a>
                    <a href="{% url 'service:clients_delete' client.id %}">Удалить</a><br>
                </div>
                {% if user|has_group:"Менеджер" or user.is_staff%}
                    {% if client.is_active %}
                        <a href="{% url 'service:toggle_account' client.pk %}" class="btn btn-danger btn-sm">Заблокировать</a>
                    {% else %}
                        <a href="{% url 'service:toggle_account' client.pk %}" class="btn btn-success btn-sm">Активировать</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}